.header {
    background-color: #282c34;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 11px 46px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 1px 11px 46px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 11px 46px 0px rgba(0,0,0,0.75);
  }
.text-section h1{
    margin-bottom: 10px;
}
  .header ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
  }
  
  .header a {
    color: white;
    text-decoration: none;
    transition: 0.5s all;
    font-weight: 600;
  }
  
  .header a:hover {
    text-decoration: underline;
    color: rgb(9, 205, 240);
    
  }

@keyframes flash {
  50% {
    color: #007bff;
  }
}

.nav-item.assignment3 {
  animation: flash 1s infinite;
  font-weight: bold;
}

  